@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-white: 0, 0%, 100%;
    --primary-black: 210, 2%, 22%;

    /* Secondary Colors */
    --secondary-grey: 0, 0%, 96%;
    --secondary-white: 42, 87%, 97%;
    --secondary-red: 0, 68%, 56%;

    /* Background Color */
    --background: 0, 0%, 100%;

    /* Text Colors */
    --text-primary: 0, 0%, 98%;
    --text-secondary: 0, 0%, 39%;
    --text-tertiary: 0, 100%, 0%;
    
    /* Buttons */
    --button-card: 0, 0%, 0%;
    --button-primary: 360, 67%, 56%;
    --button-primary-hover: 0, 62%, 67%;
    --button-secondary: 144, 100%, 50%;
    --button-secondary-hover: 214, 52%, 75%;

    --border: 252, 3%, 72%;
  }
}